
/* add your custom css here */
body {
    max-width: 640px;
    margin: 0 auto;
}
#my-svg-chart, svg {
    position: relative;
    display: block;
    margin: 0 auto;
}

button {
    cursor: pointer;
    margin: 0 auto 10px auto;
    display: inline-block;
}

/* 
svg rect {
    animation-name: easeIn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 

    animation: bounce-in 4s ease infinite;
 */
/* } */

@keyframes easeIn {
    from {
        fill-opacity: 0;
        stroke:black;
    }

    to {
        fill-opacity: 1;
        stroke:black;
    }
}


.bounce-in {
  animation: bounce-in 2s ease infinite;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}



/* Here is the scrollama related styles */

#scroll-content {
    position: relative;
    padding: 1rem;
}

#scroll-content #text {
    position: relative;
    padding: 0;
    max-width: 20rem;
    margin: 0 auto;
}

#scroll-content #my-svg-chart {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* background-color:#f9f9f9; */
    z-index: 0;
}

#scroll-content .step {
    margin: 0 auto 2rem auto;
    color: #fff;
    background-color: rgba(0,0,0,0.05);
    color: black;
}
